@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {transform:rotate(360deg);}
}

body { 
  background: url(../images/img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 48px;
}

a.button {
    margin-top: 20%;
}
.spin{
    animation: spin 2s infinite linear;
    animation-fill-mode: both;
}
a.button:hover .spin{
    animation-duration: .2s;
}
.glyphicon-cd{
    width: 20px;
    text-align: left;
}
